*{
    margin: 0;
    padding: 0;
}

.isour h2{
padding-top: 99px;   
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #FF8A63;
}
.ishow h1{
 padding-bottom: 11px;
 font-family: 'Poppins';
font-weight: 400;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #45525B;
}
.lorem p{
    padding-bottom: 30px;
    font-family: 'Poppins';
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #6F7278;
}
.isopsh{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.isleft img{
    border-radius: 30px;
}

.isfight img{
padding: 12px 12px;
background: #45525B;
margin: 44px 0px 9px 0px;

}
.isfight h1{
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #45525B;
}
.isfight p{
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #6F7278;
margin-bottom: 27px;
}
.isposli{
    width: 100%;
}
.isposli img{
    margin: 87px 0px 88px 0px;
width: 100%;
}
#isd{
    background: #FAFAFC;
border: 1px solid rgba(202, 204, 209, 0.2);
border-radius: 10px;

.navbar{
    padding: 10px;
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    top: 0;
}   
.ymcenter{
    width: 80%;
    margin: auto;
}
.flex .second {
text-align: end;
}
.flex {
   align-items: center;
    display: flex;
}
.first{
    width: 10%;
}
.second{
    width: 90%;
   
display: flex;
justify-content: flex-end;
}
.second ul{
  list-style: none;
text-decoration: none;
    display: flex;
text-align: end;
    
}
.second ul li a{
    text-decoration: none;
margin-left: 40px;
font-size: 20px;
color: black;

}
.second ul li:hover {
    padding: 5px;
    background-color: black;
}
.second ul li:hover a{
    color: aliceblue;
}
.conteienr2{
    background-image:linear-gradient(rgba(250, 250, 252, 0.78), rgba(250, 250, 252, 0.78),rgba(250, 250, 252, 0.78) ), url(image/61127627883dbb0802b613e3_Hero\ Background\ 1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
 
}
.tolo{
    width: 25%;
    
    
}
.tolo p{
    margin-top: 40px;

    font-size: 32px;

}
.images{
    margin-top: 300px;
}
.conteiner3{
    width: 100%;
    background-color: #FAFAFC;
}
.flexx{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.left{
width: 28%;

}
.right{
    width: 40%;
    margin-left: 200px;
}
.left p{
    font-size: 48px;
}
.ipsum{
    margin-top: 40px;
    margin-bottom: 60px;
}
.nulla{
    margin-bottom: 50px;
}
.div{
    display: flex;
}
.commodo{
    margin-left: 10px;
    margin-top: 40px;

}